In [16]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
import sklearn
from sklearn.preprocessing import StandardScaler

Loading the Dataset:

We load the dataset using Pandas' read_csv function, assuming the file is located at the specified path.

In [17]:
df = pd.read_csv("C:\pythonProjects\Credit_Card_Approval\Application_Data.csv")

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Admin\AppData\Local\Temp\ipykernel_3160\3234074241.py:1: SyntaxWarning: invalid escape sequence '\p'
  df = pd.read_csv("C:\pythonProjects\Credit_Card_Approval\Application_Data.csv")

In [18]:
df.head()

,Applicant_ID,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,...,Owned_Work_Phone,Owned_Phone,Owned_Email,Job_Title,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt,Status
0,5008806,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,...,0,0,0,Security staff ...,2,59,4,0,30,1
1,5008808,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1
2,5008809,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,5,1
3,5008810,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,27,1
4,5008811,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,...,0,1,1,Sales staff ...,1,53,9,0,39,1

In [19]:
df.dtypes

Applicant_ID             int64
Applicant_Gender        object
Owned_Car                int64
Owned_Realty             int64
Total_Children           int64
Total_Income             int64
Income_Type             object
Education_Type          object
Family_Status           object
Housing_Type            object
Owned_Mobile_Phone       int64
Owned_Work_Phone         int64
Owned_Phone              int64
Owned_Email              int64
Job_Title               object
Total_Family_Members     int64
Applicant_Age            int64
Years_of_Working         int64
Total_Bad_Debt           int64
Total_Good_Debt          int64
Status                   int64
dtype: object

Data Preprocessing:

Dropping Unnecessary Columns:
We drop the columns 'Applicant_ID' and 'Job_Title' from the dataset as they are not relevant for our analysis or modeling.

In [20]:
df.drop(['Applicant_ID', 'Job_Title'], axis=1, inplace=True)

Splitting Data into Features and Target:

We separate the target variable ('Status') from the features by assigning it to the variable y, and the remaining columns to the variable X.

In [21]:
y= df["Status"]
y.head()
X= df.drop('Status', axis=1)
X.head()

,Applicant_Gender,Owned_Car,Owned_Realty,Total_Children,Total_Income,Income_Type,Education_Type,Family_Status,Housing_Type,Owned_Mobile_Phone,Owned_Work_Phone,Owned_Phone,Owned_Email,Total_Family_Members,Applicant_Age,Years_of_Working,Total_Bad_Debt,Total_Good_Debt
0,M,1,1,0,112500,Working ...,Secondary / secondary special ...,Married ...,House / apartment ...,1,0,0,0,2,59,4,0,30
1,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,1,53,9,0,5
2,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,1,53,9,0,5
3,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,1,53,9,0,27
4,F,0,1,0,270000,Commercial associate ...,Secondary / secondary special ...,Single / not married ...,House / apartment ...,1,0,1,1,1,53,9,0,39

One-Hot Encoding Categorical Features:

We identify categorical features in the dataset and perform one-hot encoding using the OneHotEncoder from scikit-learn. This process converts categorical variables into binary vectors.

Scaling Numerical Features:

We standardize the numerical features using StandardScaler from scikit-learn. Standardization helps in bringing all features to the same scale, which is important for many machine learning algorithms.

In [22]:
categorical_features = ["Applicant_Gender",  "Income_Type","Education_Type","Family_Status", "Housing_Type"]

one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", 
                                  one_hot, 
                                  categorical_features)],
                                  remainder="passthrough") 
transformed_X = transformer.fit_transform(X)
transformed_X

scaler = StandardScaler()
numerical_cols = ['Total_Income', 'Applicant_Age', 'Years_of_Working','Total_Good_Debt']
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

Model Training and Evaluation:

Splitting Data into Train and Test Sets:
We split the data into training and testing sets using train_test_split from scikit-learn. This allows us to evaluate the model's performance on unseen data.
Model Initialization and Training:
We initialize a Random Forest Classifier model and train it using the training data.
Model Evaluation:
We evaluate the trained model's performance on the test data using the score method to calculate the accuracy.

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                    y,
                                                    test_size=0.2)

model = RandomForestClassifier()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.9978113808197374

Performance Metrics Calculation:

We calculate additional performance metrics such as accuracy, precision, and recall using functions from scikit-learn (accuracy_score, precision_score, recall_score).

Printing Performance Metrics:

We print out the calculated accuracy, precision, and recall scores to assess the model's performance.

In [24]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
y_pred= model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

precision = precision_score(y_test, y_pred)
print("Precision:", precision)

recall = recall_score(y_test, y_pred)
print("Recall:", recall)

Accuracy: 0.9978113808197374
Precision: 0.9978048293753742
Recall: 1.0